@media (max-width: 767px){
    .location{
        background-color: red;
        color: red;
        display: none;
    }
}
@media (max-width: 444px){
    .bg{
        padding: 0;
    }
    .button{
        padding: 10px;
        letter-spacing: normal;
        width: 150px;
    }
    .form-area{
        background: none;
        padding: 0;
        border: none;
    }
    .navbar-inverse .navbar-nav>.active>a{
        border: none;
    }
    .heading{
        font-size: 25px;
    }
    .heading:after{
        display: none;
    }
    .form-area{
        margin-bottom: 1em;
    }
}